.header-markom {
    width: 1000px;
    display: flex;
}

.header-title {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: blue;
    font-size: 25px;
    font-weight: 500;
    color: white;
}